@use "@/app/scss/variables" as *;

#SuperAdminAdmin,
#adminUsers,
#adminUser,
#adminBatch,
#adminBatches,
#adminStudents {
  @include padding-block;

  .fg {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(10);

    .links {
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
    }

    .pink-card {
      display: flex;
      justify-content: space-between;

      .title {
        display: grid;
        gap: rem(10);
      }
    }

    .card {
      background-color: $c-card;
      padding: $p-l;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(20);

      .info {
        display: grid;
        gap: rem(10);

        p {
          line-height: rem(20);
        }
      }

      .batch-info {
        display: flex;
        flex-direction: column;
        gap: rem(10);
      }

      .datetime {
        display: grid;
        gap: rem(10);

        @include breakpoint(medium) {
          display: grid;
        }

        p {
          display: flex;
          flex-direction: column;
        }
      }

      .student-info {
        display: flex;
        flex-direction: column;
        gap: rem(10);
      }

      .batch-datetime,
      .student-datetime {
        display: grid;

        @include breakpoint(medium) {
          grid-template-columns: repeat(2, 1fr);

          p:nth-of-type(1) {
            grid-column: 1 / 1;
          }

          p:nth-of-type(2) {
            grid-row: 2 / 3;
          }
        }
      }

      .settings {
        display: flex;
        align-self: flex-end;
        gap: rem(5);
      }
    }
  }
}
