@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  @include full-width;
  margin-top: rem(64);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-Work_Sans), "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  background-color: $c-bg;
  color: $c-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include text;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  line-height: rem(40);
}

h2 {
  line-height: rem(40);
}

button {
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  font-size: rem(21);
  font-weight: 600;
  color: $c-text-highlight;
  background-color: $c-button-bg;
  padding: rem(10) rem(15);
  border-radius: rem(100);
  cursor: pointer;
  text-transform: uppercase;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $c-button-hover;
  }
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: rem(20);
  font-weight: 500;
  color: $c-text;
  background-color: $c-link;
  padding: rem(5) rem(10);
  border-radius: rem(100);
  height: fit-content;

  &:hover {
    background-color: $c-link-hover;
  }
}

.link-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c-button-bg;
  font-size: rem(12);

  &:hover {
    background-color: $c-button-hover;
  }
}

.card {
  @include fg;
}

.text-s {
  font-size: rem(14);
}

.text-xs {
  font-size: rem(12);
}

.text-xxs {
  font-size: rem(10);
  line-height: rem(10);
  color: $c-yellow;
}

select {
  background: none;
  outline: none;
  border: none;
  min-width: rem(60);
  background-color: $c-button-bg;
  border-radius: $b-radius;
  padding: $p;
  padding-inline: rem(20);
  font-size: rem(18);
  font-weight: 500;
  color: $c-text-highlight;
  cursor: pointer;

  option {
    background-color: $lightBorder;
    outline: none;
    color: $c-bg;
  }

  &:disabled {
    background-color: $c-select;
    color: $c-button-bg;
  }
}

.loader {
  animation: rotate 1s $e-quart infinite;
  color: $c-text-highlight;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.fg {
  @include fg;
  @include width-height;
}

.s-text {
  font-size: rem(12);
}

.pink-card {
  background-color: $c-link;
  padding: $p-l;
  border-radius: $b-radius;
  justify-content: space-between;
  gap: rem(10);

  .title {
    width: 100%;

    h5 {
      display: flex;
      align-items: center;
      gap: rem(5);
    }

    .input-block {
      position: relative;
      display: flex;
      align-items: center;

      .search-icon {
        position: absolute;
        right: rem(14);

        @include breakpoint(medium) {
          position: relative;
          right: rem(34);
        }
      }
    }

    input {
      width: 100%;
      padding-block: rem(12);
      padding-right: rem(44);

      @include breakpoint(medium) {
        max-width: rem(250);
      }
    }
  }

  .buttons {
    width: min-content;
    display: flex;
    gap: rem(10);
    flex-wrap: wrap;

    @include breakpoint(medium) {
      flex-wrap: nowrap;
    }
  }
}

.highlight {
  color: $c-text-highlight;
}

.highlight-yellow {
  color: $c-yellow;
  display: flex;
  gap: rem(5);
  align-items: center;
}

@mixin icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-button {
  @include icon-button;
  background-color: $c-red-light;

  &:hover {
    background-color: $c-red-hover;
  }
}

#settings-button {
  @include icon-button;
}

#add-button {
  @include icon-button;
}

.popup {
  position: fixed;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  inset: 0;
  padding-block: calc(rem(64) + rem(10));
  background-color: $c-dark-trans;
  @include full-width;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint(medium) {
    padding-inline: 10vw;
  }

  @include breakpoint(large) {
    padding-inline: 32vw;
  }

  .existing-fingers {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    width: 100%;
    overflow-x: scroll;

    .images-container {
      width: 100%;
      display: flex;
      gap: rem(10);
      padding-bottom: rem(16);

      .img-container {
        width: rem(50);
        display: flex;
        flex-direction: column;
        gap: rem(5);

        img {
          width: rem(50);
        }

        button {
          padding: $p-s;
          width: 100%;
          background-color: $c-fg;

          &:hover {
            background-color: $c-bg;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    @include breakpoint(medium) {
      flex-direction: row;
    }
  }

  .add,
  .clear {
    font-size: rem(14);

    &:disabled {
      cursor: not-allowed;
      background-color: $c-red-light;
    }
  }

  .selected {
    background-color: $c-dark-trans;
  }

  .card {
    width: 100%;
    padding: $p;
    display: flex;
    flex-direction: column;
    gap: rem(10);

    .title {
      background-color: $c-bg;
      display: flex;
      justify-content: space-between;
      border-radius: $b-radius;
      padding: $p-l;

      button {
        @include icon-button;
        background-color: $c-red-light;

        &:hover {
          background-color: $c-red-hover;
        }
      }
    }
  }
}

.p-l {
  padding: $p-l;
}

.red {
  color: $c-red;
}

@mixin input {
  width: 100%;
  background-color: $c-bg;
  outline: none;
  border: none;
  color: $c-text;
  font-size: rem(20);
  border-radius: $b-radius;
  padding: $p-l;
}

input {
  @include input;
  padding: rem(10) rem(15);
  font-size: rem(12);
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 rem(100) rem(100) $c-bg;
  caret-color: $c-text;
}

form {
  width: 100%;
  background-color: $c-link;
  border-radius: $b-radius;
  padding: $p-l;
  display: grid;
  gap: rem(10);

  .time-fields,
  .column-fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(10);

    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
    }
  }

  textarea {
    width: 100%;
    background-color: $c-bg;
    outline: none;
    border: none;
    color: $c-text;
    border-radius: $b-radius;
    padding: $p-l;
    resize: none;
    font-family: inherit;
  }

  .addMoreDetailsBtn {
    font-size: rem(14);
  }

  .details-column {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  .form-field {
    display: flex;
    flex-direction: column;
    display: grid;
    gap: rem(10);

    input {
      @include input;
    }
  }

  button[type="submit"] {
    background-color: $c-bg;

    &:hover {
      background-color: $c-dark-trans;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: $c-red-light;
    }
  }
}
#AddDetails {
  @include breakpoint(large) {
    padding-inline: 22vw;
  }
}
.deatils_form {
  .scrollable_area {
    max-height: 50vh;
    overflow-y: scroll;
    border-radius: $b-radius;
    display: flex;
    flex-direction: column;
    gap: rem(10);

    @include breakpoint(medium) {
      max-height: 60vh;
    }
  }

  .form-field {
    gap: rem(5);

    label {
      font-size: rem(16);
    }
    input,
    textarea {
      font-size: rem(16);
      padding: rem(15) rem(20);
    }
  }
}

.error-text {
  color: $c-red;
}

.info-text {
  color: $c-yellow;
}

.success-text {
  color: $green;
}

.toast-container {
  @include full-width;
  position: fixed;
  inset: 0;
  z-index: 1000;
  padding-top: rem(10);
  display: flex;
  flex-direction: column;
  gap: rem(10);
  height: fit-content;
}

.toast {
  width: 100%;
  padding: $p-l;
  border-radius: $b-radius;
  color: white;
  display: flex;
  gap: rem(10);
  justify-content: space-between;
  align-items: center;

  @include breakpoint(medium) {
    width: 50%;
    align-self: flex-end;
  }

  @include breakpoint(large) {
    width: 30%;
  }
}

.toast-success {
  backdrop-filter: blur(rem(10));
  background-color: rgba(3, 193, 71, 0.5);
}

.toast-error {
  background-color: $c-red;
}

.toast-info {
  background-color: $c-yellow;
  color: $c-bg;

  button {
    color: $c-red;
  }
}

.asign-select {
  font-size: rem(12);
  padding: $p;
  font-weight: bold;
}

.confirm-delete,
.asign {
  display: grid;
  gap: rem(20);
  padding-top: rem(20);
  border-top: rem(1) solid $c-text-highlight;

  p {
    width: 100%;

    @include breakpoint(medium) {
      width: 50%;
    }

    @include breakpoint(large) {
      width: 26%;
    }
  }

  .buttons {
    display: flex;
    gap: rem(10);
    flex-wrap: wrap;

    button {
      font-size: rem(12);
      display: flex;
      align-items: center;
      gap: rem(5);
    }

    .delete {
      background-color: $c-red-light;

      &:hover {
        background-color: $c-red-hover;
      }
    }
  }
}

.divider {
  color: $c-button-bg;
}

.stats {
  font-size: rem(18);
  &-b {
    color: $orange;
  }
  &-s {
    color: $blue;
  }
  &-active {
    color: $c-text-highlight;
    font-size: rem(28);
  }
  &-inActive {
    color: $c-red;
    font-size: rem(28);
  }
}
