@use "@/app/scss/variables" as *;

#auth {
  @include padding-block;

  .fg {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    @include breakpoint(medium) {
      flex-direction: row;
    }

    .title {
      width: 100%;
      background-color: $c-bg;
      border-radius: $b-radius;
      display: flex;
      flex-direction: column;
      gap: rem(10);
      padding: $p-l;
      min-height: fit-content;

      @include breakpoint(medium) {
        width: 50%;
      }

      @include breakpoint(large) {
        width: 100%;
      }
    }

    .card {
      background-color: $c-card;
      padding: $p-l;
      width: 100%;

      form {
        padding: 0;
        background: none;
      }
    }

    .empty {
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: $c-bg;
      min-height: 10vh;
      min-height: 10svh;
      max-height: auto;
      @include breakpoint(medium) {
        width: 50%;
      }

      @include breakpoint(large) {
        width: 100%;
      }
    }
  }
}
